<footer class="footer mt-auto py-4 px-5" style="background: #000;">
    <div class="row mb-5">
        <div class="col-md-3 d-flex flex-column">
            <a href="" class="text-light text-decoration-none" style="font-size: small;">Udemy Business</a>
            <a href="" class="text-light text-decoration-none" style="font-size: small;">Udemy'de Eğitim Verin</a>
            <a href="" class="text-light text-decoration-none" style="font-size: small;">Uygulamayı Edinin</a>
            <a href="" class="text-light text-decoration-none" style="font-size: small;">Hakkımızda</a>
            <a href="" class="text-light text-decoration-none" style="font-size: small;">İletişim</a>
        </div>

        <div class="col-md-3 d-flex flex-column">
            <a href="" class="text-light text-decoration-none" style="font-size: small;">Kariyer</a>
            <a href="" class="text-light text-decoration-none" style="font-size: small;">Blog</a>
            <a href="" class="text-light text-decoration-none" style="font-size: small;">Yardım ve Destek</a>
            <a href="" class="text-light text-decoration-none" style="font-size: small;">İş Ortaklığı</a>
        </div>

        <div class="col-md-3 d-flex flex-column">
            <a href="" class="text-light text-decoration-none" style="font-size: small;">Koşullar</a>
            <a href="" class="text-light text-decoration-none" style="font-size: small;">Gizlilik politikası</a>
            <a href="" class="text-light text-decoration-none" style="font-size: small;">Site haritası</a>
        </div>

        <div class="col-md-3">
            <button type="button" class="btn btn-outline-light rounded-0 pe-5" style="float: right;">
                <i class="bi bi-globe"></i> Türkçe</button>
        </div>
    </div>

    <div class="d-flex justify-content-between my-3">
        <a class="navbar-brand" href="#"><img
                src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy-inverted.svg" alt="" width="91"
                srcset="">
        </a>
        <p class="text-light" style="font-size: x-small;">
            © 2021 Udemy, Inc.
        </p>
    </div>
</footer>
