<div class="row">
    <div class="col">
        <div class="card" style="width: 14rem;">
            <img src="https://img-c.udemycdn.com/course/240x135/1565838_e54e_12.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">The Complete 2021 Web Development Bootcamp</h5>
              <p class="card-text">Dr.Angela Yu</p>
              <p class="card-text">₺409,99</p>
              
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 14rem;">
            <img src="https://img-c.udemycdn.com/course/240x135/793796_0e89.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Microsoft Excel - Excel from Beginner to Advanced</h5>
                <p class="card-text">Kyle Pew</p>
                <p class="card-text">₺309,99</p>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 14rem;">
            <img src="https://img-c.udemycdn.com/course/240x135/1643044_e281.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Graphic Design Masterclass - Learn GREAT Design</h5>
                <p class="card-text">Lindsay Marsh</p>
                <p class="card-text">₺399,99</p>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 14rem;">
            <img src="https://img-c.udemycdn.com/course/240x135/614772_233b_9.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">The Complete Cyber Security Course : Hackers Exposed!</h5>
                <p class="card-text">Nathan House</p>
                <p class="card-text">₺249,99</p>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 14rem;">
            <img src="https://img-c.udemycdn.com/course/240x135/914296_3670_8.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">The Complete Digital Marketing Course - 12 Courses in 1</h5>
                <p class="card-text">Rob Percival</p>
                <p class="card-text">₺409,99</p>
            </div>
          </div>
    </div>

</div>
