<div class="row">
    <div class="col">
        <div class="card bg-dark text-white">
            <img src="https://img-c.udemycdn.com/notices/web_banner/image_udlite/83e8f763-8c2e-45a4-a4f7-f91fd48e500d.jpg"
                class="card-img" alt="...">
            <div class="card-img-overlay">
                <div class="card" style="width: 26rem; height: 300;">
                    <div class="card-body">
                        <h2 class="card-title" style="color: black;">İndirim Sona eriyor</h2>
                        <p class="card-text" style="color: black;">Sadece ₺27,99'dan başlayan kurslar almak için son gün.</p>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Ara"
                                aria-label="Search" style="width: 525;">
                            <button class="btn btn-outline-success" type="submit">Ara</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br>



