<div class="col">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color: black;">Python</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#" style="color: black;">Excel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: black;">Web Geliştirme</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#" tabindex="-1" aria-disabled="true" style="color: black;">Java
                Script</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#" style="color: black;">Veri Bilimi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: black;">AWS Sertifikasyonu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: black;">Çizim</a>
        </li>
    </ul>
</div>
