<app-navi></app-navi>
<div class="container">
  <div class="row">
    <app-product></app-product>
  </div>
  <div class="row">
    <app-product2></app-product2>
  </div>
  <div class="row">
    <app-category></app-category>
  </div>
  <div class="row">
    <app-product3></app-product3>
  </div>
  <div class="row">
    <app-product4></app-product4>
  </div>
  <div class="row">
    <app-product5></app-product5>
  </div>
  <div class="row">
    <app-category2></app-category2>
  </div>
</div>
<app-footer></app-footer>





<router-outlet></router-outlet>
