<div class="row">
  <div class="col">
      <div class="card" style="width: 14rem;">
          <img src="https://img-c.udemycdn.com/course/240x135/1235124_7c5f_6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">(40+ Saat) Python | Sıfırdan İleri Seviye Programlama (2020)</h5>
            <p class="card-text">Mustafa Murat Coşkun</p>
            <p class="card-text">₺27.99 <del> ₺219.99 </del></p>
            
          </div>
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 14rem;">
          <img src="https://img-c.udemycdn.com/course/240x135/2496622_433f.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">(100+ Saat) Aranan Programcı Olma Kamp Kursu| Python,Java,C#</h5>
              <p class="card-text">Engin Demiroğ</p>
              <p class="card-text">₺27.99 <del> ₺219.99 </del></p>
          </div>
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 14rem;">
          <img src="https://img-c.udemycdn.com/course/240x135/2310884_04cd_6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">(50 Saat) Python A-Z™: Veri Bilimi ve Machine Learning</h5>
              <p class="card-text">Mustafa Vahit Keskin</p>
              <p class="card-text">₺27.99 <del> ₺219.99 </del></p>
          </div>
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 14rem;">
          <img src="https://img-c.udemycdn.com/course/240x135/629302_8a2d_2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Learn Python Programming Masterclass</h5>
              <p class="card-text">Tim Buchalka,Jean-Paul Roberts..</p>
              <p class="card-text">₺27.99 <del> ₺219.99 </del></p>
          </div>
        </div>
    </div>
    <div class="col">
      <div class="card" style="width: 14rem;">
          <img src="https://img-c.udemycdn.com/course/240x135/1586464_cae5_3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Python ile Makine Öğrenmesi</h5>
              <p class="card-text">Prof.Dr.Şadi Evren Şeker</p>
              <p class="card-text">₺27.99 <del> ₺219.99 </del></p>
          </div>
        </div>
  </div>


</div>













