<div class="row">
    <div class="col-sm-3">
        <h5 style="font-weight: bold;" class="card-title mx-10" style="color: black;">En popüler kategoriler</h5>
        
    </div>

</div><br>

<div class="row">
    <div class="col">
        <img src="https://s.udemycdn.com/home/top-categories/lohp-category-design-v2.jpg" class="img-thumbnail" alt="...">
        <h5 class="card-title" style="color: black;">Tasarım</h5>

    </div>

    <div class="col">
        <img src="https://s.udemycdn.com/home/top-categories/lohp-category-development-v2.jpg" class="img-thumbnail" alt="...">
        <h5 class="card-title" style="color: black;">Yazılım Geliştirme</h5>
        
    </div>

    <div class="col">
        <img src="https://s.udemycdn.com/home/top-categories/lohp-category-marketing-v2.jpg" class="img-thumbnail" alt="...">
        <h5 class="card-title" style="color: black;">Pazarlama</h5>
        
    </div>

    <div class="col">
        <img src="https://s.udemycdn.com/home/top-categories/lohp-category-it-and-software-v2.jpg" class="img-thumbnail" alt="...">
        <h5 class="card-title" style="color: black;">BT ve Yazılım</h5>
        
    </div>
        

</div> <br>


<div class="row"> 
    <div class="col">
        <img src="https://s.udemycdn.com/home/top-categories/lohp-category-design-v2.jpg" class="img-thumbnail width:10px;" alt="...">
        <h5 class="card-title" style="color: black;">Kişisel Gelişim</h5>
        
    </div>
    <div class="col">
        <img src="https://s.udemycdn.com/home/top-categories/lohp-category-development-v2.jpg" class="img-thumbnail" alt="...">
        <h5 class="card-title" style="color: black;">İşletme</h5>
        
    </div>
    <div class="col">
        <img src="https://s.udemycdn.com/home/top-categories/lohp-category-marketing-v2.jpg" class="img-thumbnail" alt="...">
        <h5 class="card-title" style="color: black;">Fotoğrafçılık</h5>
        
    </div>
    <div class="col">
        <img src="https://s.udemycdn.com/home/top-categories/lohp-category-it-and-software-v2.jpg" class="img-thumbnail" alt="...">
        <h5 class="card-title" style="color: black;">Müzik</h5>
        
    </div>



</div>
